@page "/"

<PageTitle>Index</PageTitle>

<h1>Demo de aplicación web basada en una arquitectura de microservicios</h1>
<hr />
<h2>Detalles</h2>
<ul>
  <li>La aplicación cuenta con dos microservicios (Clases y Profesores) desarrollados con asp.net 6</li>
  <li>Cada microservicio cuenta con su propia base de datos (PostgreSQL y MySQL)</li>
  <li>Cuenta con una api gateway usando Ocelot</li>
  <li>Cuenta con una aplicación web desarrollada con Blazor</li>
  <li>Se crean imagenes de las aplicaciones usando Docker</li>
  <li>Se proveen los archivos de configuración para hacer una orquestación en Kubernetes</li>
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />

